@extends("/main.html")
@set(title: "home1")
@args String title;

<div>
    <a href="@url(Application.testDefaultEscape())">test default escape</a>
</div>
<div>
    <a href="@url(Application.testRenderSection())">test render section</a>
</div>
<div>
    <a href="@url(Application.testCache())">test cache</a>
</div>
<div>
    <a href="@url(Application.testTagCache())">test tag cache</a>
</div>
<div>
    <a href="@url(Application.bug404xml())">404.xml bug</a>
</div>
<div>
    <a href="@url(Application.test_Inits())">_inits.html bug</a>
</div>
<div>
    <a href="@url(Application.testLoadTagByRelativePath())">load tag using relative path</a>
</div>
<div>
    <a href="@url(Application.testLoadTagUsingImportPath())">load tag using import path</a>
</div>
<div>
    <a href="@url(Application.testActionCall())">call action method from view</a>
</div>
<div>
    <a href="@url(Application.testFastTag())">Call fast tag</a>
</div>

@tag sayHello(String who, int pos, String parity, int count) {
    <p>hello @who at @pos is @parity, total: @count</p>
}
<ul>
@for(int i = 0; i < 10; ++i) {
    <li>@i</li>
    @if (i > 6) {
        @break()
    }
}
</ul>

@{
    Map<String, List<String>> listList = new HashMap();
    listList.put("x", Arrays.asList("xt,a324".split(",")));
}

@for (Map.Entry<String, List<String>> entry: listList.entrySet()) {
    @for (String s: entry.getValue()) {
        <i>@s</i><br/>
    }
}

@{int i = 1;}@

@if (i > 1) {
    too many
} else if (i > 0 ) {
    just okay
} else {
    nothing to do
}

<h1>@("I am a string".length())</h1>

@{
    pn("about to crash!!!");
    String s = null;
    if (null == s) {
        //throw new NullPointerException("s is null");
    }
}

@{String[] nameList = {"Tom", "Jerry", "Marco"}}@

@for(String : nameList) {
    @sayHi(_, parity=_parity, pos=_index, _size)
    @sayHello(_, _index, _parity, _size)
    @if ("jerry".equalsIgnoreCase(_)) {
        @break
    }
}

    String who, int pos, String parity, int count;
@sayHi(who="green", parity="even", pos:3, 5) {
    sayHiBody
}

@session.getId()

