#{verbatim}
@import com.greenlaw110.rythm.utils.S, play.Play, play.utils.Utils, play.exceptions.SourceAttachment;
@args play.exceptions.PlayException exception;
@verbatim {
<style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, Sans;
        background: #EEEEEE;
    }
    .block {
        padding: 20px;
        border-bottom: 1px solid #aaa;
    }
    #header h1 {
        font-weight: normal;
        font-size: 28px;
        margin: 0;
    }
    #more {
        color: #666;
        font-size: 80%;
        border: none;
    }
    #header {
        background: #fcd2da;
    }
    #header p {
        color: #333;
    }
    #source {
        background: #f6f6f6;
    }
    #source h2 {
        font-weight: normal;
        font-size: 18px;
        margin: 0 0 10px 0;
    }
    #source .lineNumber {
        float: left;
        display: block;
        width: 40px;
        text-align: right;
        margin-right: 10px;
        font-size: 14px;
        font-family: monospace;
        background: #333;
        color: #fff;
    }
    #source .line {
        clear: both;
        color: #333;
        margin-bottom: 1px;
    }
    #source pre {
        font-size: 14px;
        margin: 0;
        overflow-x: hidden;
    }
    #source .error {
        color: #c00 !important;
    }
    #source .error .lineNumber {
        background: #c00;
    }
    #source a {
        text-decoration: none;
    }
    #source a:hover * {
        cursor: pointer !important;
    }
    #source a:hover pre {
        background: #FAFFCF !important;
    }
	#source em {
		font-style: normal;
		text-decoration: underline;
		font-weight: bold;
	}
	#source strong {
		font-style: normal;
		font-weight: bold;
	}
</style>
} @// verbatim
@if (exception instanceof play.exceptions.PlayException) {
    <div id="header" class="block">
        <h1>
            @exception.getErrorTitle()
        </h1>
        @if ("DEV".equals(Play.mode.name())) {
        <p>
            @exception.getErrorDescription()
        </p>
        } else if ("PROD".equals(Play.mode.name())) {
        <p>
            Error details are not displayed when Play! is in PROD mode. Check server logs for detail.
        </p>
        }
    </div>
    @if (exception.isSourceAvailable() && (null != exception.getLineNumber()) && "DEV".equals(Play.mode.name())) {
    <div id="source" class="block">
        <h2>In @exception.getSourceFile() (around line @exception.getLineNumber())</h2>
        @{
            final List<String> source = ((SourceAttachment)exception).getSource();
            int lineNumber = ((SourceAttachment)exception).getLineNumber();
            final int from = lineNumber - 5 >= 0 && lineNumber < source.size() ? lineNumber - 5 : 0;
            final int to = lineNumber + 5  < source.size() ? lineNumber + 5 : source.size()-1;
            final List<String> lines = new ArrayList();
            for (int i = from; i < to; ++i) {
                lines.add(source.get(i));
            }
        }@
        @for (String line: lines) {
            @(null == Utils.open(exception.getSourceFile(), line_index+from) ? ("<a href='" + Utils.open(exception.getSourceFile(), line_index+from) + "'>") : "")
                <div class="line @(exception.getLineNumber() == line_index+from ? "error":"") ">
                    <span class="lineNumber">@(line_index+from):</span>
                    <pre>&nbsp;@S.escape(line).replace("&darr;", "<strong>&darr;</strong>").replace("\000", "<em>").replace("\001", "</em>")</pre>
                </div>
            @(null == Utils.open(exception.getSourceFile(), line_index+from) ? "</a>" : "")
        }
    </div>
    }
	@{ String moreHtml = exception.getMoreHTML() }@
	@if (null != moreHtml) {
		<div id="specific" class="block">
			@moreHtml
		</div>
	}
    <div id="more" class="block">
        This exception has been logged with id <strong>@exception.getId()</strong>
    </div>
} else {
    <div id="header" class="block">
        <h1>@(null == exception.getMessage() ? "" : exception.getMessage())</h1>
    </div>
}
#{/verbatim}
